{% extends 'Base/base.html' %}
{% block start %}
<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="bread">
                    <span><a href="{% url 'index' %}">Home</a></span> / <span>Men</span>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="breadcrumbs-two">
    <div class="container">
        <div class="row">
            <div class="col">
                {% if men_image %}
                    <div class="breadcrumbs-img" style="background-image: url({{ men_image.image.url }});">
                        <h2>Men's</h2>
                    </div>
                {% endif %}

                <div class="menu text-center">
                    <p><a href="#">New Arrivals</a> <a href="#">Best Sellers</a> <a href="#">Extended Widths</a> <a href="#">Sale</a></p>
                </div>
            </div>
                					
        </div>
    </div>
</div>

<!-- Featured Products -->
<div class="colorlib-featured">
    <div class="container">
        <div class="row">
            {% for i in products %}
            <div class="col-sm-4 text-center">
                <div class="featured">
                    <div class="featured-img featured-img-2" style="background-image: url({{ i.image.url }});">
                        <h2>{{ i.category }}</h2>
                        <p><a href="#" class="btn btn-primary btn-lg">Shop now</a></p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<!-- View All Products -->
<div class="colorlib-product">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 offset-sm-2 text-center colorlib-heading colorlib-heading-sm">
                <h2>View All Products</h2>
            </div>
        </div>
        <div class="row row-pb-md">
			{% for i in best_sellers %}

			<div class="col-lg-3 mb-4 text-center">
				<div class="product-entry border">
					<a href="#" class="prod-img">
						<img src="{{ i.image.url }}" class="img-fluid" alt="{{ product.title }}">
					</a>
					<div class="desc">
						  <h2><a href="#">{{ i.title }}</a></h2>
						<span class="price">${{ i.price }}</span>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
		
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="block-27">
                    <ul>
                        <li><a href="#"><i class="ion-ios-arrow-back"></i></a></li>
                        <li class="active"><span>1</span></li>

                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#"><i class="ion-ios-arrow-forward"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="colorlib-partner">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 offset-sm-2 text-center colorlib-heading colorlib-heading-sm">
                <h2>Trusted Partners</h2>
            </div>
        </div>
        <div class="row">
            {% for i in partners %}
			<div class="col partner-col text-center">
				<img src="{{ i.image.url }}" class="img-fluid" alt="Partner Brand">
			</div>
			{% endfor %}
        </div>
    </div>
</div>

    {% endblock %}




